.ftc-refetch {
	margin-bottom: 0.5em;
}
.ftc-refetch.ftc-loading .btn {
	opacity: 0.5;
	pointer-events: none;
}
.ftc-refetch .ftc-status {
	margin-left: 0.75em;
	font-size: 0.875em;
}
.ftc-refetch .ftc-status.hidden {
	display: none;
}
.ftc-refetch.ftc-success .ftc-status {
	color: green;
}
.ftc-refetch.ftc-error .ftc-status {
	color: red;
}
